<mat-card>
    <span style="margin-top: 5%; font-weight: bolder">{{data.title}}</span>
    <mat-divider></mat-divider>
    <div style="margin-top: 5%;margin-bottom: 5%;">
        <span style="margin: 5%;">{{data.message}}</span>
    </div>
    <div style="margin-top: 10%">
        <button mat-flat-button id="no-button" [mat-dialog-close]="false">Cancel</button>
        <button mat-flat-button id="yes-button" [mat-dialog-close]="true">Yes</button>
    </div>
    
</mat-card>