<mat-grid-list cols="3" class="grid-padding">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <mat-card-content>
                <div style="text-align: center;">
                        <h1>Employee Management</h1>
                </div>
            <div *ngIf="regForm">
                <div style="text-align: center;">
                    <h2>Manager Registration</h2>
                </div>
                <form [formGroup]="managerRegistrationForm" (ngSubmit)="register()">
                    <mat-form-field class="input-class">
                        <input matInput placeholder="First Name" formControlName="firstName">
                    </mat-form-field>
                    <mat-form-field class="input-class">
                        <input matInput placeholder="Last Name" formControlName="lastName">
                    </mat-form-field>
                    <mat-form-field class="input-class">
                        <input matInput placeholder="Last Name" formControlName="address">
                    </mat-form-field>
                    <mat-form-field class="input-class">
                            <mat-label>Date of Birth</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dob">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    <mat-form-field class="input-class">
                       <input matInput placeholder="Company" formControlName="company">
                    </mat-form-field>
                    <mat-form-field class="input-class">
                       <input matInput placeholder="Email" formControlName="email">
                    </mat-form-field>
                    <div class="row" style="text-align: center; margin-top: 5%">
                        <button mat-raised-button color="warn" (click)="regForm=!regForm" style="margin-right: 3%;">Cancel</button>
                        <button mat-raised-button color="primary" [disabled]="!managerRegistrationForm.valid" type="submit" style="margin-left: 3%;">Register</button>
                    </div>
                </form>    
            </div>

            <mat-card *ngIf="!regForm" >
                    <div>
                            <div style="text-align: center;">
                                <h2>Manager Login</h2>
                            </div>
                            <form [formGroup]="managerLoginForm" (ngSubmit)="login()">
                                <mat-form-field class="input-class" style="width: 72%;">
                                    <input matInput placeholder="Registered Email" formControlName="loginEmail">
                                </mat-form-field>
                                <mat-form-field class="input-class" style="width: 72%;">
                                    <input matInput placeholder="Enter password" [type]="hide ? 'password' : 'text'" formControlName="password">
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                              

                                <div class="row" style="text-align: center; margin-top: 5%">
                                        <button mat-raised-button color="primary" type="submit" [disabled]="!managerLoginForm.valid">Login</button>
                                    </div>
                
                                    <div class="row" style="text-align: center; margin-top: 5%">
                                        <a (click)="regForm=!regForm">Register</a>
                                    </div>

                            </form>    
                           
        
                        </div>
            </mat-card>
            
            
        </mat-card-content> 
       
     </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>