<mat-toolbar color="primary"> Home
        <span style="margin-left: 5%">Welcome , {{userName}}</span>
        <span class="fill-remaining-space"></span>

        <a (click)="logout()">Logout</a>

</mat-toolbar>

<div style="margin-top: 5%;">
    <span style="font-weight: bolder; margin-left: 5%;" *ngIf="empListView">Employee Table</span>
    <span style="font-weight: bolder; margin-left: 5%;" *ngIf="!empListView">Create New EMployee</span>
    <button mat-raised-button color="primary" style="float: right; margin-right:2%" (click)="createNewEmployee()" *ngIf="empListView">Create New Employee</button>
    <mat-divider style="margin-top: 2%;"></mat-divider>
    <mat-progress-bar mode="indeterminate" *ngIf="showProgress"></mat-progress-bar>
    
    <!-- Employee list table -->
    <mat-card *ngIf="empListView">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> Id </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                          </ng-container>
            
                    <ng-container matColumnDef="emp_id">
                      <th mat-header-cell *matHeaderCellDef> Employee Id </th>
                      <td mat-cell *matCellDef="let element"> {{element.emp_id}} </td>
                    </ng-container>
                  
                   
                    <ng-container matColumnDef="first_name">
                      <th mat-header-cell *matHeaderCellDef> First Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                    </ng-container>
                  
                   
                    <ng-container matColumnDef="last_name">
                      <th mat-header-cell *matHeaderCellDef> Last Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
                    </ng-container>
                  
                   
                    <ng-container matColumnDef="address">
                      <th mat-header-cell *matHeaderCellDef> Address </th>
                      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="dob">
                        <th mat-header-cell *matHeaderCellDef> DOB </th>
                        <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="mobile">
                            <th mat-header-cell *matHeaderCellDef> Mobile </th>
                            <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
                      </ng-container>
            
                      <ng-container matColumnDef="city">
                            <th mat-header-cell *matHeaderCellDef> City </th>
                            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                      </ng-container>
                      <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let element">  
                                <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="editEmp(element)">
                                    <mat-icon>edit</mat-icon>
                                </button>| 
                                <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon" (click)="deleteEmp(element)">
                                    <mat-icon>delete</mat-icon>
                                </button>|
                            </td>
                           
                        </ng-container> 
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
    </mat-card>

    <!-- New employee form -->
    <div *ngIf="!empListView">
            <mat-card style="width: 50%; display: block;margin-left: auto;margin-right: auto;margin-top: 5%">
                    <form [formGroup]="employeeCreationForm" (ngSubmit)="createNewEmployeeSubmit()">
                            <mat-form-field class="input-class">
                                <input matInput placeholder="First Name" formControlName="firstName">
                            </mat-form-field>
                            <mat-form-field class="input-class">
                                <input matInput placeholder="Last Name" formControlName="lastName">
                            </mat-form-field>
                            <mat-form-field class="input-class">
                                <input matInput placeholder="Employee Id" formControlName="empId">
                            </mat-form-field>
                            <mat-form-field class="input-class">
                                    <mat-label>Date of Birth</mat-label>
                                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dob">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            <mat-form-field class="input-class">
                               <input matInput placeholder="Mobile" formControlName="mobile" type="number">
                            </mat-form-field>
                            <mat-form-field class="input-class">
                               <input matInput placeholder="City" formControlName="city">
                            </mat-form-field>
                            <mat-form-field class="input-class">
                                    <input matInput placeholder="Address" formControlName="address">
                            </mat-form-field>
                            
                            <div class="row" style="text-align: center; margin-top: 5%">
                                <button mat-raised-button color="warn" (click)="empListView=!empListView" style="margin-right: 3%;">Cancel</button>
                                <button mat-raised-button color="primary" [disabled]="!employeeCreationForm.valid" type="submit" style="margin-left: 3%;">Register</button>
                            </div>
                        </form>    
            </mat-card>
    </div>
    
</div>