<mat-card style="width: 50%; display: block;margin-left: auto;margin-right: auto;margin-top: 5%">
    <div style="text-align: center;margin-bottom: 5%;font-weight: bold;">Employee Edit Form </div>
        <form [formGroup]="employeeEditForm">
                <mat-form-field class="input-class">
                    <input matInput placeholder="First Name" formControlName="firstName">
                </mat-form-field>
                <mat-form-field class="input-class">
                    <input matInput placeholder="Last Name" formControlName="lastName">
                </mat-form-field>
                <mat-form-field class="input-class">
                    <input matInput placeholder="Employee Id" formControlName="empId">
                </mat-form-field>
                <mat-form-field class="input-class">
                        <mat-label>Date of Birth</mat-label>
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dob">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                <mat-form-field class="input-class">
                   <input matInput placeholder="Mobile" formControlName="mobile" type="number">
                </mat-form-field>
                <mat-form-field class="input-class">
                   <input matInput placeholder="City" formControlName="city">
                </mat-form-field>
                <mat-form-field class="input-class">
                        <input matInput placeholder="Address" formControlName="address">
                </mat-form-field>
                
                <div class="row" style="text-align: center; margin-top: 5%">
                    <button mat-raised-button color="warn" style="margin-right: 3%;" [mat-dialog-close]="false">Cancel</button>
                    <button mat-raised-button color="primary" [disabled]="!employeeEditForm.valid" type="submit" style="margin-left: 3%;" [mat-dialog-close]="employeeEditForm.value">Update</button>
                </div>
            </form>    
</mat-card>