/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.grid-padding{
    margin-top: 10%
}

/* Give margin to all input fields */
.input-class{
    margin-left: 10%
}


.success-snackbar {
    background: #4CAF50;
    color: white
}

.error-snackbar {
    background: #F44336;
    color: white
  }

  .fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .confirm-dialog-container span.content-span{
      padding: 35px 16px;
      text-align: center;
      font-size: 20px;
  }

  .confirm-dialog-container .mat-dialog-container{
      border-radius: .25em .25em .4em .4em;
      padding: 0px;
  }

  .confirm-dialog-container .content-container{
    margin : 5px 5px 15px 5px;
    /* color : white; */
    display: flex;
}

.confirm-dialog-container #close-icon{
    margin-left: auto;
    order : 2;
    font-weight: bolder;
}

.confirm-dialog-container #close-icon{
    margin-left: auto;
    order : 2;
    font-weight: bolder;
}

#no-button{
    background: gray;
    margin-left: 120px;
    margin-bottom: 20px
}

#yes-button{
    background: #4CAF50;
    margin-left: 10px
}

table {
    width: 100%;
  }